[submodule "bundle/winmanager"]
	path = bundle/winmanager
	url = https://github.com/vim-scripts/winmanager.git
[submodule "bundle/ctags"]
	path = bundle/ctags
	url = https://github.com/vim-scripts/ctags.vim.git
[submodule "bundle/JumpInCode"]
	path = bundle/JumpInCode
	url = https://github.com/vim-scripts/JumpInCode.git
[submodule "bundle/cocoa"]
	path = bundle/cocoa
	url = https://github.com/vim-scripts/cocoa.vim.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/iso-sim"]
	path = bundle/iso-sim
	url = https://github.com/phonegap/ios-sim.git
[submodule "bundle/dash"]
	path = bundle/dash
	url = https://github.com/FromPointer/dash.vim.git
[submodule "bundle/xcodebuild-rb"]
	path = bundle/xcodebuild-rb
	url = https://github.com/lukeredpath/xcodebuild-rb.git
[submodule "bundle/guard"]
	path = bundle/guard
	url = https://github.com/guard/guard.git
[submodule "bundle/guard-ocunit"]
	path = bundle/guard-ocunit
	url = https://github.com/ap4y/guard-ocunit.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/FromPointer/YouCompleteMe.git
[submodule "bundle/jsx"]
	path = bundle/jsx
	url = https://github.com/jsx/jsx.vim.git
